@media (max-width:600px) {
    .table,thead,tbody{
               font-size: 15px;
               }
    .sy-head{
        font-size: 16px;
        margin: 0px;
        
        height: 34px;
    } 
    .ct-socials{
        padding-left:0px;
        right: 2px !important;
    }  
    .navbar-brand img{
               width: 100%;
    } 
    .navbar-brand{
        width: 70%;
    }       
}
.ct-socials {
    position: fixed;
    top: 25%;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 10;
    margin: 0;
    transition: right 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
}
.ct-socials li {
    padding: 0px 0;
}
.ct-socials li a {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 10px  rgba(0, 0, 0, 0.18);
    width: 44px;
    height: 54px;
    transition: all 0.15s ease-in-out;
    float: right;
    padding-left: 5px;
}
.ct-socials li a:hover{
width: 54px;
padding-left: 0;
text-decoration: none;

}
.fa-facebook{
    color: #1877f2 ;
}
.fa-twitter{
    color: #1da1f2;
}
.fa-linkedin{
    color: #0077b5;
}
.fa-whatsapp{
    color: #075e54;
}
.fab{
    font-size: 25px;
}